<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sandbox</title>
</head>
<body>
<p>
    Index: Logged in
</p>
<p>
    {{ token }}
</p>
<h2>Events</h2>
<ul>
    {% for e in events %}
        <li><b>{{ e.summary }}</b> - {{ e.start }}</li>
    {% endfor %}
</ul>

<hr>
<ul>
    <li><a href="/sandbox">Run Sandbox</a></li>
    <li><a href="/revoke">Revoke token and Logout</a></li>
    <li><a href="/accounts/logout">Logout</a></li>
    <li><a href="/accounts/login/">Login</a></li>
    <li><a href="/admin/">Admin</a></li>
</ul>
</body>
</html>